<!DOCTYPE html>
<html lang="pt" xmlns:th="http://thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Lucas Folador">

<title>Produtos</title>

<link th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"
	rel="stylesheet">
<style>
	.container-fluid {
		padding: 10px;
	}
</style>
</head>
<body>

	<div th:replace="layout/cabecalho :: header"></div>

	<div class="container-fluid">
	
		<div th:replace="layout/mensagens"></div>

		<div class="form-row">

			<div class="form-group col-md-12">
				<h2 class="h2">Produtos</h2>
			</div>

			<div class="form-group col-md-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Preço</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="produto, i : ${produtos}">
							<td th:text="${produto.nome}">Nome</td>
							<td th:text="${#numbers.formatCurrency(produto.preco)}">Preço</td>
							<td>
								<a class="btn btn-secondary" th:href="@{/produtos/{id}(id=${produto.id})}">Editar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

		<a class="btn btn-info text-white" th:href="@{/}">Voltar</a> <a
			class="btn btn-primary text-white" th:href="@{/produtos/cadastro}">Novo produto</a>

	</div>

	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script
		th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.bundle.min.js}"></script>
</body>
</html>